.distignore export-ignore
.github export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.wordpress-org export-ignore
composer.lock export-ignore
docker-compose.yml export-ignore
package-lock.lock export-ignore
phpcs.xml export-ignore
